*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.ApplicationDiv{
  background-color: black;
  height: 100vh;
  width: 100vw;
  color: white;
}

.Header{
  padding: 20px;
}

.Footer{
  padding: 20px;
}